body {
	background-color: white;
	margin: 0;
}
.meniu{
	opacity: 0.8;
	list-style-type: none; 
}
.meniu > li {
	padding: 10px 15px;
	margin: 5px 20px;	
	display: inline-block;
	float: right;
}
.meniu li img {
	width: 30px;
}
.lista_profil li{
	background-color: rgba(213, 126, 126, 0.83);
	padding: 10px;
	color: white;
	text-align: center;	
}
.lista_profil a{
	text-decoration: none;
	color: inherit;
}
.lista_profil {
	position: absolute;
	transform: translate(-54%,0%);
	display: none;
	list-style-type: none; 
}
.lista_profil::before{
	content: " ";
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid rgba(213, 126, 126, 0.83);
	display: block;
	margin: 0px 59px;
}
.lista_profil > li:hover{
	background-color: #ede7e7e8;
	padding: 10px;
	color: black;
}

#search_bar{
	border: 0;
	width: 250px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.search_container{

	border: solid #5a5a5a 2px;
	border-radius: 6px;
	padding: 4px 12px !important;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
.lupa{
	border-left: solid #5a5a5a 2px;
	padding-left: 10px;
}
.logo{
	float: left !important;
}
.logo img{
	width: 130px !important;
	top: 4px;
	position: absolute;
	left: 32px;
}
.p_picture{
	margin: 0 auto;
	display: block;
}
#login {
	position: absolute;
	display: none;
	background-color: rgba(213, 126, 126, 0.83);
	text-align: center;
    transform: translate(-37%, 10%);
    padding: 15px 10px;
}
#login input{
	border: solid #5a5a5a 2px;
    border-radius: 6px;
    padding: 4px 12px !important;

}
#login::before{
	content: " ";
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid rgba(213, 126, 126, 0.83);
	display: block;
	margin: 0px 59px;
	transform: translate(17px, -19px);
}
/*---------------------------main container zone--------------------------------------*/
.container{
	/*display: none;*/
	
	height: 100%;
    width: 100%;
    background-color: #f4e2e2;
    top: 107px;
    position: absolute;
    overflow-y: scroll;
    box-shadow: 0px -5px 7px #dfdfdf;
    z-index: -1;
    left: 10%;
    padding-left: 70px;
    padding-right: 70px;
}
#product{
	display: inline-grid;
	padding: 0px;
	margin: 10px;
	border: solid #5a5a5a 2px;
	text-align: center;
	border-radius: 6px;
}
#product > img{
	border-radius: 6px;
}
.nume {
	position: absolute;
    transform: translate(-8%,145%);
	

}
#descriere{
	width: 130px;
	word-break: break-all;
	font-family:Geneva, Arial, Helvetica, sans-serif;
}
#pret{
	background-color: rgba(213, 126, 126, 0.83);
	padding: 8px 0;
	margin: 0;
	border-top: solid 2px black;
	font-weight: bold;
	font-family:”Courier New”, Courier, monospace;
}

.produse{
	width: 80%;
    float: right;
}

#replace_inregistrare, #replace_login{
	cursor: pointer;
}

/*meniu lateral*/

#butoane  a {
	text-decoration: none;
	color:black;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
	font-weight: bold;
}

#butoane {
    position: absolute;
    top: 107px;
    height: 100%;
    background-color: rgba(213, 126, 126, 0.83);
    width: 152px;
    float: left;
    box-shadow: 0px -5px 7px #dfdfdf;

}

#buton{
   color: #CCC;
    text-align: center;
    padding: 24px 0;
    font-family: ”Courier New”, Courier, monospace;
}
#buton:hover {
	/*border-radius: 10px;*/
	/*background-image: url(../image/mmm.jpg);*/
	background-color: white;
}

/*meniu lateral*/