body{
	margin: 0;
}
form{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	column-count: 1;
}

input{
	display: block;
	margin: 10px auto;
	text-align: center;
}

input:nth-child(-n+3){
	border: solid #5a5a5a 2px;
	border-radius: 6px;
	padding: 4px 12px !important;
	font-size: 16px;
}
.submit_btn:hover{
	background: #fff;
	color: black;
	scale: .9;
	transition: all .5s;
}
.submit_btn{
	display: block;
	width: 180px;
	font-size: 18px;
	margin: 20px auto;
	background: #000;
	color: white;
	border: 0;
	padding: 5px;
	text-decoration: none;
	box-sizing: content-box;
	text-align: center;
}